@using BootstrapSupport
@model PortalProject2.ViewModels.LogOnModel

@{
    ViewBag.Title = "Log On";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="box login">
                    <div class="box-title">
                        <span class="ico"><i class="icon-lock"></i></span> Login
                    </div>
                    <div class="box-content">

                                  @using (Html.BeginForm())
                                  {
                                      
                                         @Html.ValidationSummary(true)
                                        foreach (var property in Model.VisibleProperties())
                                        {
                                                @Html.BeginControlGroupFor(property.Name)
                                               @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                                             <div class="controls">
                                                    @Html.Editor(property.Name)
                                                    @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
		                                     </div>
                                                    @Html.EndControlGroup()
                                        }
                                      <div class="form-actions">
                                           <button type="submit" class="btn btn-primary">Login</button>
                                          <a class="btn" href="@Url.Action("Register", "Account")">Register</a>
                                       </div>
                                  }
                                   
                                 </div>
                             </div>
                        </div>
 </div>
 </div>

